.metadata
.recommenders
RemoteSystemsTempFiles
Servers

grocerylist-core/.settings
grocerylist-core/target/generated-sources/
grocerylist-core/target/grocerylist-core/
grocerylist-core/target/m2e-wtp/
grocerylist-core/target/maven-archiver/
grocerylist-core/target/maven-status/
grocerylist-core/.classpath
grocerylist-core/.project
grocerylist-core/src/test

grocerylist-cli/.vscode
grocerylist-cli/dist
grocerylist-cli/node_modules
grocerylist-cli/src/assets


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
