<h4>ITEMS</h4>

<div class="list-group col-xs-4" *ngIf="itemDetailed == null">
    <a href="javascript:void(0);" *ngFor="let item of items" class="list-group-item"
    (click)="detailItem(item)">
      {{ item?.name }}
    </a>
  </div>

<div *ngIf="itemDetailed != null" class="panel panel-default col-sm-4">
  <div class="panel-body ">

    <div class="form-group">
      <span class="control-label"><strong>Name</strong></span>
      <div>
        <span *ngIf="!updateActive">{{ itemDetailed.name }}</span>
        <input *ngIf="updateActive" [(ngModel)]="itemDetailed.name" class="form-control input-sm">
      </div>
    </div>
    <div class="form-group">
      <span class="control-label"><strong>Notes</strong></span>
      <div>
        <span *ngIf="!updateActive">{{ itemDetailed.notes }}</span>
        <input *ngIf="updateActive" [(ngModel)]="itemDetailed.notes" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group margin-top-20">
      <button (click)="cancelUpdate()" class="btn btn-primary btn-xs" *ngIf="!updateActive">Back</button>
      <button (click)="updateStatus(true)" class="btn btn-primary btn-xs" *ngIf="!updateActive">Update</button>
      <button (click)="updateItem(itemDetailed)" class="btn btn-primary btn-xs" *ngIf="updateActive">Save</button>
      <button (click)="updateStatus(false)" class="btn btn-primary btn-xs" *ngIf="updateActive">Cancel</button>
    </div>
  </div>
</div>